/*-- scss:defaults --*/

// 1. import url() from Google Font
// ex
//@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

// 2. Establish the font somewhere here in $font-family...
// ex
//$font-family-sans-serif: 'Nunito', sans-serif;

$font-family-sans-serif: 'Archivo', sans-serif;


.leaflet-container, 
.leaflet-popup-content, 
.leaflet-tooltip, 
.leaflet-control { 
    font-family: $font-family-sans-serif !important;
}


// colors

$navbar-bg: #008080;




/*-- scss:rules --*/


.nav-item > a:hover {
  color: #70A494;
}

.nav-link {
  color: #F0F0F0;
}

.tabset .nav-link {
  color: #70A494;
}

/* .nav-item > a:focus {
  color: #F6EDBD;
} */

.navbar .navbar-nav .active {
  background-color: #DE8A5A;
}

.quarto-dashboard #quarto-dashboard-header .navbar .navbar-nav .active {
  background-color: #DE8A5A;
}

.bslib-value-box .value-box-value {
  font-weight: 600;
}  


.card-header {
  background-color: #f1f1f1;
}
  